/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 Custom Theming for Stephenmanz.com
 Author: Stephen Manz
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */


/* ======================== Begin: GLOBALS ===========================*/
#loginlink a{
    font-size: 20px;
}
/* ======================== End: GLOBALS ===========================*/


/* ======================== Begin: GALLERY ===========================*/
 .field-content img{
     padding: 5px;
 }


/* ======================== End: GALLERY ===========================*/